* {
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

body {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   height: 100vh;
   background-color: #f9f8f8;
}

.form {
   width: 400px;
   background-color: white;
   padding: 0 30px;
   display: grid;
   gap: 20px;
   height: 550px;
   border-radius: 2px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


input {
   width: 100%;
   padding: 10px;
   margin-top: 15px;
   border: 1px solid #d1d0d0;
   outline: none;
   position: relative;
   top: -80;
}

.otpverify {
   width: 100%;
   margin-top: -15px;
   display: none;
}

.verify_btn{
    padding: 10px;
    background-color: #8be18b;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 15px;
    position: relative;
    top: -70;
}

.verify_btn:hover{
    background-color: #65b665;
}

.sendotp_btn {
   padding: 10px;
   background-color: #8be18b;
   outline: none;
   border: none;
   cursor: pointer;
   color: white;
   position: relative;
   top: -70;
}

.sendotp_btn:hover{
    background-color: #65b665;
}

.email{
   color: #878585;
   position: relative;
   top: -50;
   left: -150px;
}

h3{
   color: #808595;
   position: relative;
   top: -10;
}

.otp{
   color: #878585;
   position: relative;
   top: -65;
   left: -155px;
}

#error{
   font-size: 50px;
   color: #d51111;
   margin-top: 30px;
}

h4{
   color: #a3a3a3;
   font-weight: lighter;
   position: relative;
   top: -55;
}

.toLogin{
   display: flex;
   position: relative;
   top: -60;
   justify-content: center;
   cursor: pointer;
}

#icon{
   font-size: 20px;
   color: #878585;
   position: relative;
   top: -5;
}

.back{
   font-size: 10px;
   color: #878585;
   position: relative;
   top: -10;
   left: -5;
}

.toLogin a{
   text-decoration: none;
}

