* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
 }
 
 body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
 }
 
 .form {
   width: 400px;
   background-color: white;
   padding: 0 30px;
   display: grid;
   gap: 20px;
   height: 450px;
   border-radius: 2px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 input {
   width: 100%;
   padding: 10px;
   margin-top: 15px;
   border: 1px solid #d1d0d0;
   outline: none;
   position: relative;
   top: 0;
 }
 
#confirmPwd{
   position: relative;
   top: -30;
}

 .submit_btn {
   padding: 10px;
   background-color: #8be18b;
   outline: none;
   border: none;
   cursor: pointer;
   color: white;
   position: relative;
   top: -20;
 }
 
 .submit_btn:hover{
     background-color: #65b665;
 }

 .newPass{
   color: #878585;
   position: relative;
   top: 40;
   left: -115px;
}

h3{
   color: #808595;
   position: relative;
   top: 30;
}

.cfmPass{
   color: #878585;
   position: relative;
   top: 10;
   left: -105px;
} 

.toLogin{
   display: flex;
   position: relative;
   top: -15;
   justify-content: center;
   cursor: pointer;
}

#icon{
   font-size: 20px;
   color: #878585;
   position: relative;
   top: -5;
}

.back{
   font-size: 10px;
   color: #878585;
   position: relative;
   top: -10;
   left: -5;
}

.toLogin a{
   text-decoration: none;
}