<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/6fd8a997cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/newPassword.css">
</head>
<body>
    <form class="form">
        <h3>Create your new password here! <i class="fa-solid fa-key"></i></h3>
        <label for="newPassword" class="newPass">New Password</label>
        <input type="password" id="newPwd" autocomplete="off" required >
        <label for="confirmPassword" class="cfmPass">Confirm Password</label>
        <input type="password" id="confirmPwd" autocomplete="off" required >
        <button class="submit_btn" id="submitBtn">Submit</button>
        <div class="toLogin">
            <a href="/forgetPassword">
            <i class='bx bx-chevron-left' id="icon"></i>
            <span class="back">Back</span>
            </a>
        </div>
    </form>
        <script src="static/newPassword.js"></script>
</body>
</html>